@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


/* Variables */

:root{
    --primary:  #FFCC01;
    --secondary: #FFF8DF;
    --tertiary: #FFF4C1;
    --bigfont: "Special Elite";
    --smallfont: "sans-serif";
    --box_shadow: 8px 8px  black;
}



/* main css */
*{
    padding: 0;
    margin: 0;
    font-family: var(--smallfont);
    box-sizing: border-box;

    
}

body{
    background-color: var(--primary);
    height: 100vh;
    
}

/* Navbar */



.container_of_nav_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}



.navbar{
    height: 100px;
    
    width: 86%;
    display: flex;
    flex-direction: row;
    background-color: var(--primary);
    position: fixed;
    
    top: 0;
    z-index: 10;
    
    

}

.nav_container{
    height: 100%;
    /* border: 2px solid black ; */
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    
    
    
}

.nav_container a{
    text-decoration: none;
    color: black;
    
}

.nav_container div{
    background-color: var(--secondary);
    padding: 10px 20px 10px 20px;
    border: 2px solid black;
    box-shadow: var(--box_shadow);
}

.nav_container div:hover{
    transform: translate(4px,4px);
    box-shadow: none;
    transition: all .2s ease;
    background-color: var(--tertiary);
    
}

.theme_container{
    /* border: 2px solid black ; */
    height: 100%;
    flex: 0.7;
    
}






/* Main Section*/

main{
    
    padding-top:140px;
    gap: 30px;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    align-items: center;

}

/* hero section */

.hero_container{
    background-color: var(--secondary);
    height: 550px;
    width: 85%;
    border: 2px solid black;
    box-shadow: var(--box_shadow);
    display: flex;
    align-items: center;
    padding: 25px;
    gap: 30px;
    box-sizing: border-box;

    
}



/* hero image */

.hero_img_container{
    
    height: 100%;
    flex: 0.8;
    border: 2px solid black;
    display: flex;
    
  
}

.hero_img_container img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    
    
}

/* hero text */

.hero_text{
    
    height: 100%;
    flex: 1.2;
        
    display: flex;
    flex-direction: column;
    gap: 60px;
    font-size: 1.2rem;
    
}



.hero_name{
    font-size: 5.9rem;
    font-family: var(--bigfont);
    font-weight: 900;
    /* position: relative;
    top: 40px; */
}





.hero_button button{

    
    
    padding: 10px 20px 10px 20px;
    font-size: 1.2rem;
     
    box-shadow: var(--box_shadow);
    border: 3px solid black;
    
}

.hero_button button:hover{
    transform: translate(4px,4px);
    box-shadow: none;
    transition: all .2s ease;
}


.hero_button{
    display: flex;
    gap: 20px;
    
}


.github{
    background-color: var(--tertiary);
    font-weight: 600;

}

.github:hover{
    background-color: #301700;
    
    color: orange;
    border: 2px solid orange;
    
    
    
}
.view_project{
    background-color: var(--secondary);
    
    font-weight: 600;
}
.view_project:hover{
    background-color: #301700;
    
    color: rgb(40, 150, 246);
    border: 2px solid rgb(40, 150, 246);
   
}

/* sub hero section */

.sub_hero_container{
    background-color: var(--secondary);
    height: 90px;
    width: 85%;
    border: 2px solid black;
    box-shadow: var(--box_shadow);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    
    
}

.based_in{
    border-right: 2px solid black;
    flex: 1;
   
    
    
}
.focus{
    border-right: 2px solid black;
    flex: 1;
}
.status{
    
    flex: 1;
    
}

.focus, .based_in, .status{
    padding: 10px;
     display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.bold{
    font-weight: 900;
}
